
<%= simple_form_for([@howtodo, @comment]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.rich_text_area :content %>
    <!--<%= f.association :user %>-->
    <!--<%= f.association :howtodo %>-->
    <!--<%= f.input :howtodo_id, input_html: {value: @comment.howtodo_id || params[:howtodo_id]}, as: :hidden %>-->
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary mt-2' %>
  </div>
<% end %>
