<p id="notice"><%= notice %></p>

<p>
  <strong>Comment Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.email %>
</p>

<p>
  <strong>Howtodo Title:</strong>
  <%= @comment.howtodo.title %>
</p>

<%= link_to 'Edit', edit_howtodo_comment_path(@howtodo, @comment) %> |
<%= link_to 'Back', howtodo_comments_path(@howtodo) %>
