<div class="jumbotron">
  <h1 class="display-4">Howtodos</h1>
</div>




<div class="card-group">
  <div class="card card-body">
    <h1>
      <div class="fa fa-graduation-cap"></div>
    </h1>
    <%= Howtodo.count %>
    online howtodos
    <div class="row"></div>
    Explore a variety of fresh topics
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-user-graduate"></div>
    </h1>
    <%= User.count %>
    active learners
    <div class="row"></div>
    Join the knowledge sharing community
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-infinity"></div>
    </h1>
    Lifetime access
    <div class="row"></div>
    Learn on your schedule
  </div>
</div>
<hr/>
<h2>
  Popular Howtodos
</h2>
<div class="card-columns">
  <% @howtodos.each do |howtodo| %>
    <%= render 'howtodos/howtodo', howtodo: howtodo %>
  <% end %>
</div>
<hr/>
<h2>
  Top rated Howtodos
</h2>
<div class="card-columns">
  <% @howtodos.each do |howtodo| %>
    <%= render 'howtodos/howtodo', howtodo: howtodo %>
  <% end %>
</div>
<hr/>
<h2>
  Latest Howtodos
</h2>
<div class="card-columns">
  <% @latest_howtodos.each do |howtodo| %>
    <%= render 'howtodos/howtodo', howtodo: howtodo %>
  <% end %>
</div>
<hr/>
