<p id="notice"><%= notice %></p>
<% content_for :title do %>
  Howto 
  | 
  All Howtodos
<% end %>

<h1>Howto</h1>
<h3>
  <div class="text-center">
    How to dos
    <div class="badge badge-info">
      <%= @howtodos.count %>
    </div>
  </div>
</h3>
<p></p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @howtodos.each do |howtodo| %>
      <tr>
        <td><%= link_to howtodo.title, howtodo %></td>
        <td><%= howtodo.description %></td>
        <td><%= howtodo.user.email %></td>
        
        <% if policy(howtodo).edit? %>
          <td><%= link_to 'Edit', edit_howtodo_path(howtodo) %></td>
          <td><%= link_to 'Destroy', howtodo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= raw(pagy_bootstrap_nav(@pagy)) %>

<br>

