<p id="notice"><%= notice %></p>

<% content_for :title do %>
  Howto 
  | 
  <%= @howtodo.title %>
<% end %>


<p>
  <strong>Title:</strong>
  <%= @howtodo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @howtodo.description %>
</p>
<p>
  <strong>Create by:</strong>
  <%= @howtodo.user.email %>
</p>
<%= link_to 'Edit |', edit_howtodo_path(@howtodo) if policy(@howtodo).edit? %> 
<%= link_to 'Back', howtodos_path %>
<p>Comment count: <%= @howtodo.comments.count %></p>

<br>

<%= link_to 'Add comment', new_howtodo_comment_path(howtodo_id: @howtodo.id), class: 'btn btn-primary' %>
<p>Comments: </p>
<% @comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>
<%= link_to 'Add rating', new_howtodo_rating_path(howtodo_id: @howtodo.id), class: 'btn btn-primary' %>
<% @ratings.each do |rating| %>
  <p><%= rating.rate %> rated by: <%= rating.user.email %></p>
<% end %>


